.Stats {
  display: flex;

  margin-left: 40px;
  margin-right: 40px;
}

.Stats__item {
  display: flex;
  flex-direction: column;
  text-align: center;

  margin: 0;
}

.Stats__item:not(:last-child) {
  margin-right: 15px;
}

.Stats__value {
  font-weight: 500;
  font-size: 30px;
}

.Stats__label {
  font-size: 16px;
}
